@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --indigo-500: #4F46E5;
    --indigo-200: #C7D2FE;
}

html{
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;}